<mat-grid-list class="component_wrapper " cols="6" rowHeight="3:6">
    <mat-grid-tile class="cards_wrap mx-2" *ngFor="let x of projects; index as i;">
        <div class="card_item">
            <div class="card_inner bg-secondary text-center rounded ">
                <div>
                    <a [routerLink]="['/project/edit', projects[i]._id]" class="btn btn-primary">Editar</a>
                    <!-- <button  class="btn btn-primary" (click)="delProject(projects[i]._id)">Deletar</button> -->
                </div>         
                <img src="{{projects[i].icon}}"  alt="">
                <div class="role_name">{{projects[i].title}}</div>
                <div class="real_name">{{this.projects[i].user[0].name}}</div>
                <div class="description">{{projects[i].summary}}</div>
                <a routerLink="/reactLink" class="btn btn-primary ">Veja mais</a>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>   