<section class="container mx-auto p-5">
  <figure class="d-flex justify-content-center my-2">
    <img
      src="../../../../../assets/images/logo/logo-projetai.png"
      alt="Logo ProjetAí"
    />
    <figcaption class="d-none">Logo ProjetAí</figcaption>
  </figure>
  <section class="d-flex justify-content-center">
    <h1 class="h1">Recupere Seu Acesso</h1>
  </section>

  <form>
    <section class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="E-mail"
      />
    </section>

    <section class="d-flex justify-content-center">
      <section class="d-block">
        <section>
          <button type="submit" class="btn btn-light mb-4">Enviar</button>
        </section>

        <section>
          <button type="button" class="btn btn-link">Voltar</button>
        </section>
      </section>
    </section>
  </form>
</section>
