<section class="container mx-auto p-5">
  <section class="d-flex justify-content-center">
    <figure>
      <img
        class="img-thumbnail"
        src="../../../assets/images/not-found/404-not-found.jpg"
        alt=""
      />
      <figcaption class="d-none">Erro 404</figcaption>
    </figure>
  </section>

  <section class="d-flex justify-content-center">
    <section>
      <h1 class="h1">Ops! Esta página não pode ser encontrada.</h1>

      <p>
        Desculpe, mas a página que você está procurando não existe, foi removida
        ou está temporariamente indisponível.
      </p>
    </section>
  </section>

  <section class="d-flex justify-content-center">
    <button type="button" class="btn btn-light">Voltar para o início</button>
  </section>
</section>
