.btn-light {
  background-color: #A4EBF3;
  border: none;
  color: #000;
}

.btn-light:hover {
  text-decoration: underline;
}

.btn-link {
  color: #000;
}

@media screen and (max-width: 768px){
  #loginComponent {
    width: 70%;
  }
}
